@import "./base.css";

#app {
  font-weight: normal;
}

a {
  @apply font-medium text-purple-400 !important;
  transition: 0.4s;
}

a:hover {
  @apply font-semibold text-purple-500 !important;
}

.page {
  @apply mx-auto w-full lg:w-320 p-4;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-purple-600;
  font-weight: 700 !important;
}
