@import "./base.css";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #9DC08B;
  transition: 0.4s;
}

.page {
  @apply mx-auto w-full lg:w-320 p-4;
}

h1,
h2,
h3,
h4,
h5 {
  color: #609966; 
  font-weight: 700 !important;
}
